# Environments
venv/
.venv/
env/
# Python cache
__pycache__/
*.py[cod]
# Data (Prevent pushing large CSVs)
data/raw/*.csv
data/processed/*.csv
notebooks/*.csv
# System files
.DS_Store
Thumbs.db
# Database
*.db
# VS Code
.vscode/
data/*.csv